.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    width: 100%;
}

.content-table thead tr{
    background-color: blueviolet;
    color: #fff;
    text-align: left;
    font-weight: bold;
}


.content-table th,
.content-table td{
    padding: 12px 15px;
    color: #fff;
}

.content-table .content:hover{
    background-color: black;
    transition: all 0.2s;
}

.content-table tbody tr{
    border-bottom: 1px solid white;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid blueviolet;
}

.btnModal:active,
.btnModal:focus,
.btnModal{
    background-color: blueviolet;
    border-color: blueviolet;
}

.btnModal:hover{
    background-color: #222;
    border-color: blueviolet;
}       

.modal-cadastrar{
    background-color: #222;
    color: white;
}



